* {
    all: unset;
    font-family: "Rec Mono Casual";
}

window {
    background: none;
}

.layout {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 8px;
    padding: 8px;
}

.workspaces, .time, .volume {
    padding: 8px 15px;
    margin: 0px 5px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .7);
}

.workspace {
    color: #86D0FB;
    margin: 0px 5px;
    border-radius: 50%;
}

.volico {
    color: #9068DC;
    font-size: 18px;
}

.vol-text, calendar {
    color: #CDD6F4;
}

.time {
    color: #4BC1C2;
}

.cal-container {
    background-color: #232831;
    border-radius: 16px;
    padding: 15px;
}

calendar {
    padding: 5px;
}

calendar .header, .button, .highlight, calendar:selected {
    color: #4BC1C2;
}

calendar .button:hover{
    color: #DB6061;
}
