* {
    all: unset;
    font-family: "Rec Mono Casual";
}

window {
    border-radius: 8px;
    background-color: rgba(24,24,37,0.94);
}

.layout {
    padding: 8px;
}

.workspaces, .time, .volume {
    padding: 8px 15px;
    margin: 0px 5px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.38);
}

.workspace {
    color: #86d0fb;
    margin: 0px 5px;
    background: none;
    border-radius: 50%;
}

.volico {
    color: #9068DC;
    font-size: 18px;
}

.vol-text {
    color: #cdd6f4;
}

.time {
    color: #4BC1C2;
}
